<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://js.arcgis.com/4.10/esri/css/main.css">
  <link rel="stylesheet" href='<%= htmlWebpackPlugin.files.css %>'>
</head>
<body>
  <div id="app-container"></div>
  <script>
    var dojoConfig = {
      parseOnLoad: false,
      async: true,
      has: {
        'esri-promise-compatibility': 1
      },
      deps: ['dojo/domReady!'],
      callback: function () {
        require(['<%= htmlWebpackPlugin.files.js %>']);
      }
    };
  </script>
  <script src="https://js.arcgis.com/4.10" async></script>
</body>
</html>
